
<div id="container">
    <h1> Stupid Coaching app
    <h4> Ask your coach anything:
    <form action="answer" method="get" class="form">
        <input type="text" name="question" placeholder="Question" value='<%= params[:question] %>'>
        <input type="submit" value="Ask!">
    </form>




