// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: rgb(206, 240, 191);
}

h1{
    margin-bottom: 40px;
}
.form{
    margin-top: 30px;
}


#container{
    margin-top: 70px;
}

